.mainMultiselectContainer {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.mainMultiselect {
  flex-grow: 1;
}

.styleContainer {
  display: flex;
  justify-content: center;
}

.mainStyle {
  left: 10%;
  width: 80%;
  border: var(--matcherEditOptionsBorder, 1px solid rgb(204, 204, 204));
  border-radius: 4px;
  padding: 5px;
}

.styleCode {
  text-align: left;
  height: 600px;
  overflow: auto;
}